body {
  overflow-x: hidden;
  width: 100vw;
}

main {
  margin-top: 100px;
}

header {
  display: flex;
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  padding: 20px;
  box-shadow: 0px 5px 15px 0;
}

.logo {
  width: auto;
  height: 60px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.menu_mob {
  display: none;
}

.menu_item {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 6px 20px;
  background: darkgrey;
  box-shadow: 3px 3px 6px 0px;
  cursor: pointer;
}

.menu_item:hover {
  background: lightgray;
  box-shadow: -3px -3px 6px 0px;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: calc( 100% - 50px );
  overflow-y: hidden;
}

article h1 {
  width: 100%;
}

article .article_text {
  width: 70%;
  display: flex;
  flex-direction: column;
}

article .article_text p {
  margin: 6px 0;
}
article .article_text p:first-child {
  margin-top: auto;
}
article .article_text p:last-child {
  margin-bottom: auto;
}

article img {
  width: 28%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  width: calc( 100% - 10px );
}

.cards .card_item {
  width: calc( 33.3333% - 20px );
  margin: 0 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.cards .card_item img {
  height: 310px;
}

.cards .card_item h3 {
  text-align: center;
}

.cards .card_item .action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}

.cards .card_item .action .price {
  color: green;
}

button.btn_order {
  height: 30px;
  border: 1px solid green;
  background-color: yellowgreen;
  color: white;
  border-radius: 6px;
  padding: 0 20px;
  cursor: pointer;
}

.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.modal.visible {
  opacity: 1;
  pointer-events: auto;
}

.modal .modal_back {
  height: 100vh;
  background: rgba(0,0,0,0);
  transition: background-color .5s;
}

.modal.visible .modal_back {
  background: rgba(0,0,0,0.3)
}

.modal .modal_wrapper {
  position: absolute;
  width: 400px;
  padding: 20px;
  background: white;
  border: 1px solid black;
  border-radius: 40px;
  top: 50%;
  left: 0%;
  margin-top: -12%;
  margin-left: -15%;

  transition: left .5s;
}

.modal .modal_close {
  display: flex;
  position: absolute;
  right: 30px;
  color: red;
  cursor: pointer;
}

.modal.visible .modal_wrapper {
  left: 50%;
}

.modal h2, .modal .modal_desc {
  text-align: center;
}

.modal .btn_order {
  float: right;
}

.modal input {
  width: calc( 100% - 15px );
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid green;
  margin-bottom: 10px;
  padding-left: 10px;
}

.modal input::placeholder {
  font-size: 18px;
}

@media screen and (max-width: 575px) {
  header {
  }

  main {
    margin-top: 100px;
  }
  
  header {
    justify-content: space-between;
    padding: 20px 20px 10px 0;
    box-shadow: 0px 1px 7px 0;
  }

  header .menu {
    display: none;
  }

  .menu_mob {
    display: block;
  }

  .menu_mob .trigger {
    height: 10px;
    width: 40px;
    padding: 15px 0;
  }

  .menu_mob .menu_mob_wrapper {
    display: none;
    position: absolute;
    right: 30px;
  }

  article {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 40px;
  }
  article h1 {
    order: 1;
  }
  article img {
    order: 2;
    width: 100%;
  }
  article .article_text {
    order: 3;
    width: 100%;
    text-align: center;
  }

  .cards .card_item {
    width: 100%;
  }
}
